IMPORT LIBRARIES

In [193]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib as plt

LOAD DATA SET

In [194]:
file_path = ('../data/raw_data.csv')
data = pd.read_csv(file_path)
data.head()
data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [195]:
data.columns = data.columns.str.strip()
data.columns = data.columns.str.lower()
data.columns

Index(['country', 'year', 'status', 'life expectancy', 'adult mortality',
       'infant deaths', 'alcohol', 'percentage expenditure', 'hepatitis b',
       'measles', 'bmi', 'under-five deaths', 'polio', 'total expenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness  1-19 years',
       'thinness 5-9 years', 'income composition of resources', 'schooling'],
      dtype='object')

COLUMNS DESCRIPTION
|Field|Description|
|---:|:---|
|Country|Country|
|Year|Year|
|Status|Developed or Developing status|
|Life expectancy|Life Expectancy in age|
|Adult Mortality|Adult Mortality Rates of both sexes (probability of dying between 15 and 60 years per 1000 population)|
|infant deaths|Number of Infant Deaths per 1000 population|
|Alcohol|Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)|
|percentage expenditure|Expenditure on health as a percene of Gross Domestic Product per capita(%)|
|Hepatitis B|Hepatitis B (HepB) immunization coverage among 1-year-olds (%)|
|Measles|Measles - number of reported cases per 1000 population|
|BMI|Average Body Mass Index of entire population|
|under-five deaths|Number of under-five deaths per 1000 population|
|Polio|Polio (Pol3) immunization coverage among 1-year-olds (%)|
|Total expenditure|General government expenditure on health as a percene of total government expenditure (%)|
|Diphtheria|Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)|
|HIV/AIDS|Deaths per 1 000 live births HIV/AIDS (0-4 years)|
|GDP|Gross Domestic Product per capita (in USD)|
|Population|Population of the country|
|thinness 1-19 years|Prevalence of thinness among children and adolescents for Age 10 to 19 (%)|
|thinness 5-9 years|Prevalence of thinness among children for Age 5 to 9(%)|
|Income composition of resources|measures how good a country is utilizing its resources|
|Schooling|Number of years of Schooling(years)|

SPLIT THE DATA

In [197]:
X = data.drop('life expectancy', axis=1)
y = data['life expectancy']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

df = X_train.copy()
df['life expectancy'] = y_train

RENAME COLUMNS

In [198]:
df.rename(columns={'income composition of resources': 'icor', 
                   'thinness  1-19 years': 'thiness 10-19 years'}, inplace=True)

CHECK TYPE

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2350 entries, 1059 to 1146
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 2350 non-null   object
 1   year                    2350 non-null   int64
 2   status                  2350 non-null   object
 3   adult mortality         2342 non-null   float64
 4   infant deaths           2350 non-null   int64
 5   alcohol                 2191 non-null   float64
 6   percentage expenditure  2350 non-null   float64
 7   hepatitis b             1909 non-null   float64
 8   measles                 2350 non-null   int64
 9   bmi                     2319 non-null   float64
 10  under-five deaths       2350 non-null   int64
 11  polio                   2336 non-null   float64
 12  total expenditure       2169 non-null   float64
 13  diphtheria              2336 non-null   float64
 14  hiv/aids                2350 non-null   float64
 15  gdp                     1987 non-null   float64
 16  population              1845 non-null   float64
 17  thiness 10-19 years     2319 non-null   float64
 18  thinness 5-9 years      2319 non-null   float64
 19  icor                    2216 non-null   float64
 20  schooling               2220 non-null   float64
 21  life expectancy         2342 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 422.3+ KB

CHECK FOR NULL VALUES

In [200]:
for col in df.columns:
    number_null = df.loc[:, col].isna().sum()
    perc_null = (number_null / df.shape[0]) * 100
    print(f'{col}: {number_null} - ({perc_null:.2f}%)')

country: 0 - (0.00%)
year: 0 - (0.00%)
status: 0 - (0.00%)
adult mortality: 8 - (0.34%)
infant deaths: 0 - (0.00%)
alcohol: 159 - (6.77%)
percentage expenditure: 0 - (0.00%)
hepatitis b: 441 - (18.77%)
measles: 0 - (0.00%)
bmi: 31 - (1.32%)
under-five deaths: 0 - (0.00%)
polio: 14 - (0.60%)
total expenditure: 181 - (7.70%)
diphtheria: 14 - (0.60%)
hiv/aids: 0 - (0.00%)
gdp: 363 - (15.45%)
population: 505 - (21.49%)
thiness 10-19 years: 31 - (1.32%)
thinness 5-9 years: 31 - (1.32%)
icor: 134 - (5.70%)
schooling: 130 - (5.53%)
life expectancy: 8 - (0.34%)

USE INTERPOLATION AND MEAN TARGET ENCODING FOR MISSING VALUES

In [202]:
country_list = df['country'].unique().tolist()
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
cols_with_null = [col for col in df.columns if df[col].isna().any()]

for country in country_list:
    df.loc[df['country'] == country, cols_with_null] = df.loc[df['country'] == country, cols_with_null].interpolate()
    
for col in numerical_cols:
   df[col] = df[col].fillna(df[col].mean())

In [203]:
for col in df.columns:
    number_null = df.loc[:, col].isna().sum()
    perc_null = (number_null / df.shape[0]) * 100
    print(f'{col}: {number_null} - ({perc_null:.2f}%)')

country: 0 - (0.00%)
year: 0 - (0.00%)
status: 0 - (0.00%)
adult mortality: 0 - (0.00%)
infant deaths: 0 - (0.00%)
alcohol: 0 - (0.00%)
percentage expenditure: 0 - (0.00%)
hepatitis b: 0 - (0.00%)
measles: 0 - (0.00%)
bmi: 0 - (0.00%)
under-five deaths: 0 - (0.00%)
polio: 0 - (0.00%)
total expenditure: 0 - (0.00%)
diphtheria: 0 - (0.00%)
hiv/aids: 0 - (0.00%)
gdp: 0 - (0.00%)
population: 0 - (0.00%)
thiness 10-19 years: 0 - (0.00%)
thinness 5-9 years: 0 - (0.00%)
icor: 0 - (0.00%)
schooling: 0 - (0.00%)
life expectancy: 0 - (0.00%)

HANDLE DUPLICATE ROWS

In [204]:
df.duplicated().sum()

np.int64(0)

NO DUPLICATE ROWS SO PROCEED

NUMERIAL SANITY CHECK

In [205]:
df[numerical_cols].describe().T

                         count          mean  ...           75%           max
year                    2350.0  2.007572e+03  ...  2.012000e+03  2.015000e+03
adult mortality         2350.0  1.670687e+02  ...  2.310000e+02  7.230000e+02
infant deaths           2350.0  3.088638e+01  ...  2.300000e+01  1.800000e+03
alcohol                 2350.0  4.593513e+00  ...  7.680000e+00  1.787000e+01
percentage expenditure  2350.0  7.617196e+02  ...  4.345758e+02  1.947991e+04
hepatitis b             2350.0  7.950553e+01  ...  9.600000e+01  9.900000e+01
measles                 2350.0  2.433757e+03  ...  3.852500e+02  2.121830e+05
bmi                     2350.0  3.818146e+01  ...  5.617500e+01  8.730000e+01
under-five deaths       2350.0  4.283234e+01  ...  2.900000e+01  2.400000e+03
polio                   2350.0  8.231716e+01  ...  9.700000e+01  9.900000e+01
total expenditure       2350.0  5.937624e+00  ...  7.440000e+00  1.760000e+01
diphtheria              2350.0  8.243870e+01  ...  9.700000e+01  9.900000e+01
hiv/aids                2350.0  1.820426e+00  ...  8.000000e-01  5.060000e+01
gdp                     2350.0  7.509595e+03  ...  7.509595e+03  1.191727e+05
population              2350.0  1.247681e+07  ...  1.247681e+07  1.161978e+09
thiness 10-19 years     2350.0  4.847434e+00  ...  7.200000e+00  2.750000e+01
thinness 5-9 years      2350.0  4.889392e+00  ...  7.200000e+00  2.850000e+01
icor                    2350.0  6.283890e-01  ...  7.700000e-01  9.480000e-01
schooling               2350.0  1.199473e+01  ...  1.410000e+01  2.070000e+01
life expectancy         2350.0  6.917216e+01  ...  7.577500e+01  8.900000e+01

[20 rows x 8 columns]

CATEGORICAL SANITY CHECK

In [206]:
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
df[categorical_cols].nunique()

country    191
status       2
dtype: int64

In [216]:
unique_countries = df['country'].value_counts().index.tolist()
unique_countries.sort()
print(unique_countries)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "CÃ´te d'Ivoire", "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

CHECKPOINT

In [217]:
%store X_test
%store y_test
%store df
%store numerical_cols
%store categorical_cols

Stored 'X_test' (DataFrame)
Stored 'y_test' (Series)
Stored 'df' (DataFrame)
Stored 'numerical_cols' (list)
Stored 'categorical_cols' (list)